<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampleforsb.demo.mapper.EmpExperienceMapper">

    <insert id="insertBatch">
        insert into emp_experience(emp_id, start_date, end_date, company, job)
        values
        <foreach collection="experienceList" item="exp" separator=",">
            (#{empId}, #{exp.start}, #{exp.end}, #{exp.company}, #{exp.job})
        </foreach>
    </insert>

    <delete id="deleteByEmpIds">
        delete from emp_experience
        where emp_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="listByEmpId" resultType="com.exampleforsb.demo.pojo.EmpExperience">
        select id, emp_id, start_date, end_date, company, job
        from emp_experience
        where emp_id = #{empId}
        order by start_date desc, id desc
    </select>

</mapper>
