<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampleforsb.demo.mapper.EmpMapper">

    <select id="count" resultType="java.lang.Long">
        select count(*)
        from emp e
        left join dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                and e.name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and e.gender = #{gender}
            </if>
            <if test="begin != null">
                and e.entry_date <![CDATA[ >= ]]> #{begin}
            </if>
            <if test="end != null">
                and e.entry_date <![CDATA[ <= ]]> #{end}
            </if>
        </where>
    </select>

    <select id="list" resultType="com.exampleforsb.demo.pojo.Emp">
        select e.*, d.name deptName
        from emp e
        left join dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                and e.name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null">
                and e.gender = #{gender}
            </if>
            <if test="begin != null">
                and e.entry_date <![CDATA[ >= ]]> #{begin}
            </if>
            <if test="end != null">
                and e.entry_date <![CDATA[ <= ]]> #{end}
            </if>
        </where>
        order by e.update_time desc
        limit #{start}, #{pageSize}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into emp(username, password, name, gender, phone, job, salary, image, entry_date, dept_id, create_time, update_time)
        values (#{username}, #{password}, #{name}, #{gender}, #{phone}, #{job}, #{salary}, #{image}, #{entryDate}, #{deptId}, #{createTime}, #{updateTime})
    </insert>

</mapper>
