<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampleforsb.demo.UserMapper">
    <select id="findAll" resultType="com.exampleforsb.demo.User">
        select id, username, password, name, age from `user`;

    </select>
</mapper>